.main-homepage {
  .main-homepage-title {
    color: #fff;
  }
  .main-homepage-right {
    padding-top: 50px;
    i.fa-phone {
      float: left;
      font-size: 80px;
      padding-top: 12px;
      padding-right: 25px;
      @media (max-width: 768px) {
        font-size: 2.5em;
      }
    }
    p {
      padding-top: 10px;
      font-size: 1.2em;
    }
    b {
      color: #fff;
    }
    @media (max-width: 375px) {
      padding-top: 0;
      p {
        font-size: 1em;
      }
    }
  }
}

.triple-layout {
  h2 {
    font-weight: 600;
    text-align: center; 
    margin-top: 0;
    margin-bottom: 35px;
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
}

.map-section {
  iframe {
    min-height: 300px;
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
}

.contact-section {
  .contact-info {
    max-width: 450px;
  }
  ul {
    padding-top: 50px;
    li {
      float: left;
      font-size: 3em;
      padding: 0 15px;
      &:first-child {
        padding-left: 0;
      }
      a {
        color: $color-grey500;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 375px) {
    ul {
      padding: 15px 0;
      width: 269px;
      li {
        font-size: 2em;
      }
    }
  }
}